<!DOCTYPE html>{% load compress %}{% spaceless %}
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}가축 전염병 통합 대응 시스템{% endblock title %}</title>
<meta name="viewport">
<meta name="keywords" content="">
<meta name="description" content="{% block description %}{% endblock description %}">
<link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico">
{% compress css %}
<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}css/init.less">
<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}components/jquery-toggles/less/toggles.less">
<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}components/jquery-toggles/less/themes/toggles-light.less">
<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}components/jquery-simple-slider/css/simple-slider.css">
<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}css/common.less">
{% endcompress css %}
</head>
<body>
    <div id="header">
        <h1>가축 전염병 통합 대응 시스템</h1>
        <div id="filter">
            <label>분류</label>
            <select id="s_category">
                <option>조류 인플루엔자</option>
                <option disabled="disabled">구제역</option>
            </select>
            <label>위험도 측정 기준일자</label>
            <select id="s_year">
                {% for item in years %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <span>년</span>
            <select id="s_month">
                {% for item in months %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <span>월</span>
            <select id="s_day">
                {% for item in days %}
                <option value="{{item}}" {% if forloop.last %}selected="selected"{% endif %}>{{item}}</option>
                {% endfor %}
            </select>
            <span>일</span>
            <button class="show">GO</button>
            <button class="save">Save</button>
        </div>
        <div id="location">
          <span id="d1"><a href="#d1">전국</a></span><span id="d2"></span><span id="d3"></span>
        </div>
        <div id="farming"><p>현재 지역에 대한 농가 데이터를 받아오는 중입니다...</p></div>
    </div>
    <div id="container">
      <div id="mapCanvas"></div>
      <div id="info"></div>
    </div>
    <!--<div id="resizer"><input id="sl" data-slider="true" data-slider-values="0.6,0.8,1.0,1.2,1.4" value="1"></div>-->
    <div id="googft-legend">
      <p id="googft-legend-title">위험도</p>
      <div class="switches">
        <div class="toggle risk5">
          <label for="risk5"><span></span>위험도 5</label>
          <input type="checkbox" id="risk5" value="5" checked="checked">
        </div>
        <div class="toggle risk4">
          <label for="risk4"><span></span>위험도 4</label>
          <input type="checkbox" id="risk4" value="4" checked="checked">
        </div>
        <div class="toggle risk3">
          <label for="risk3"><span></span>위험도 3</label>
          <input type="checkbox" id="risk3" value="3" checked="checked">
        </div>
        <div class="toggle risk2">
          <label for="risk2"><span></span>위험도 2</label>
          <input type="checkbox" id="risk2" value="2" checked="checked">
        </div>
        <div class="toggle risk1">
          <label for="risk1"><span></span>위험도 1</label>
          <input type="checkbox" id="risk1" value="1" checked="checked">
        </div>
        <div id="option-farm" class="toggle-light">
          <label for="farm">가금류 농가</label>
          <div class="toggles"></div>
        </div>
      </div>
      <input id="allcheck" type="checkbox" value="all" checked="checked">
    </div>
<script type="text/underscore-template" id="infoTemplate">
<div class="head">
  <p><span class="region"><%= town %></span> | <span class="risk r<%= risk %>">위험도 <%= risk %></span><span class="date"><%= basis_date %></span></p>
</div>
<table>
  <thead>
    <tr>
      <th>가금류 농가</th><% if(valid_cnt != 0){ %><th>위험 매개체 추정</th><th>역학관련 농가</th><th>보고 일자</th><% } %>
    </tr>
  </thead>
  <tbody>
    <% _.each(fowl, function(v,i){ %>
      <% _.each(v.child, function(w,i){ %>
      <tr<% if(w.hot) { %> class="hot"<% } %>>
        <% if(i == 0){ %><td class="farm" rowspan="<%=v.child.length%>" data-idx="<%=v.farm_code %>"><%=v.farm_code %><br><%=v.title %></td><% } %>
        <% if(valid_cnt != 0){ %>
          <td><% if(w.epidem != 0){ %><%=w.mediator2 %><br><% } %><%=w.mediator %></td>
          <td><% if(w.epidem != 0){ %><%=w.epidem %><br><% } %><%=w.epidem2 %></td>
          <td><%=w.reported %></td>
        <% } %>
      </tr>
      <% }); %>
    <% }); %>
  </tbody>
</table>
<button class="save"><span>다운로드</span></button>
<a class="closer" href="#closer">닫기</a>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% compress js %}
<script>
window.jQuery||document.write('<script src="{{STATIC_URL}}components/dist/jquery.js"><\/script>');
var STATIC_URL = '{{STATIC_URL}}';
</script>
<script src="{{STATIC_URL}}components/d3/d3.min.js"></script>
<script src="{{STATIC_URL}}components/topojson/topojson.js"></script>
<script src="{{STATIC_URL}}components/queue-async/queue.min.js"></script>
<script src="{{STATIC_URL}}components/jquery-toggles/toggles.js"></script>
<script src="{{STATIC_URL}}components/jquery-simple-slider/js/simple-slider.min.js"></script>
<script src="{{STATIC_URL}}components/spinjs/spin.js"></script>
<script src="{{STATIC_URL}}components/lodash/dist/lodash.underscore.min.js"></script>
<script src="{{STATIC_URL}}js/locationFix.js"></script>
<script src="{{STATIC_URL}}js/base.js"></script>
{% endcompress js %}
</body>
</html>
{% endspaceless %}