@import "../components/less-prefixer/prefixer";

.btn-basic {font-size:0.857em; color:#fff; .border-radius(3px); background-color:#1388e1; font-weight:bold;}
@GNB-H : 45px;

#header { z-index:5000; min-width:50px; min-height:50px; top:0; left:18px; background:#fff; padding:0 0 10px;
    .box-shadow(1px 1px 5px 0 rgba(80,148,178,0.75)); .border-radius(0 0 7px 7px);

    h1 {height:40px; line-height:40px; color:#373737; font-size:16px; font-weight:bold; margin-bottom:11px;
        border-bottom:1px solid #e5e5e5; text-align:left; padding:0 0 0 15px;}
    #filter {padding:0 15px; text-align: left;
        label {margin-right:5px;}
        #s_category {margin-right:25px;}
        #s_year {margin-right:3px;}
        #s_month {margin-right:3px;}
        #s_day {margin-right:3px;}
        span {margin-right:10px;}
        button {height:22px; width:31px; color:#fff; background:#2c85f3 url(../images/mag.png) no-repeat 50% 50%; border:1px solid #176cd5; .border-radius(3px); text-indent:-5000em;}
        button:hover {background-color:#2d7ad8;}
        .save {width:auto; background-image:none; text-indent:0; margin-left:10px;}
    }
}
#googft-legend {position:absolute; left:5px; bottom:5px; background-color:#fff; .border-radius(3px); .box-shadow(1px 1px 10px 0 rgba(80,148,178,0.75)); margin:10px 10px 8px; text-align:left; z-index:5000 !important;
    #googft-legend-title {margin-bottom:5px; font-size:12px; font-weight:bold; color:#373737; height:30px; line-height:30px; .box-shadow(0 2px 7px 0 rgba(0,0,0,0.2));
        background:url(../images/icon-risk.png) no-repeat 9px 50%; padding-left:30px;
    }
    .switches {padding:5px;}
    .toggle-light {font-size:12px; font-weight:bold; width:120px; height:20px; margin-bottom:5px; text-align:center;
        label {float:left; width:70px; height:20px; line-height:20px; text-align:left; font-size:12px;}
        .toggles {margin-left:70px; width:50px; height:18px; text-align:center;}
    }
    .toggle {font-size:12px; font-weight:bold; width:120px; height:20px; margin-bottom:5px; text-align:center;
        label {float:left; width:95px; height:20px; line-height:20px; text-align:left; font-size:12px;
            span {background-color:#b30000; float:left; width:20px; height:100%; margin-right:10px;}
        }
        input {float:right; margin-top:5px;}
    }
    .risk4 label span {background:#e34a33}
    .risk3 label span {background:#fc8d59}
    .risk2 label span {background:#fdcc8a}
    .risk1 label span {background:#fef0d9}
    #option-farm .toggle-on {background:#000}
    #allcheck {position:absolute; top:10px; right:5px;}
}

#info {position:absolute; right:-483px; top:85px; width:483px; height:100%; background:#fff; .box-shadow(1px 1px 5px 0 rgba(80,148,178,0.75)); overflow:auto;
    .head {position:relative; z-index:10; height:45px; text-align:left; color:#3e3e3e; font-size:16px; font-weight:bold; line-height:45px;
        background:url(../images/placepin.png) no-repeat 10px 50%; padding:0 10px 0 30px; .box-shadow(0 2px 7px 0 rgba(0,0,0,0.2));
    }
    .risk {position:relative; top:-2px; display:inline-block; padding:0 10px; height:19px; .border-radius(5px); color:#fff; font-weight:bold; font-size:12px; line-height:19px; text-align:center; margin-right:7px;}
    .r5 {background-color:#b30000}
    .r4 {background-color:#e34a33}
    .r3 {background-color:#fc8d59}
    .r2 {background-color:#fdcc8a}
    .r1 {background-color:#fef0d9; color:#555;}
    .date {font-size:12px; color:#696969; font-weight:normal;}
    table {border-collapse: collapse; margin-bottom:20px; width:100%;
        th {color:#3e3e3e; font-size:12px; font-weight:bold; height:40px; background:#e0edfd; width:110px; vertical-align: middle; border:1px solid #a0bede; border-top:none; border-bottom:none;}
        th:nth-child(1) {border-left:none;}
        th:nth-child(2) {width:150px;}
        th:nth-child(3) {width:auto;}
        th:nth-child(4) {border-right:none; width:85px;}
        td {border-bottom:1px solid #e5e5e5; color:#3e3e3e; font-size:12px; padding:10px 5px; border-right:1px solid #e5e5e5;}
        .hot td {color:red;}
        td:last-child {border-right:none;}
    }
    .save {margin-bottom:20px; border:1px solid #176cd5; background:#2c85f3; width:216px; height:32px; color:#fff; font-size:16px; font-weight:bold; .border-radius(20px);
        span {background:url(../images/icon-save.png) no-repeat 0 50%; padding-left:20px;}
    }
    .save:hover {border-color:#176cd5; /*.linear-gradient-top(#fff,#fafafe,0%,#fff,100%);*/}
    .closer {position:absolute; top:0; right:0; width:40px; height:40px; background:url(../images/icon-x.png) no-repeat 50% 50%; text-indent:-5000em;
        z-index:20; outline:none;
    }
}
#info.active {.transition(all 0.4s ease); right:0;}
#spin {position:absolute; top:50%; left:50%; width:100px; height:100px; margin:-50px 0 0 -50px; z-index:99999;}

#wrapper {padding-top:55px; margin:0 auto;
    .container {width:960px; margin:0 auto;}
}

#mapCanvas {height:100%; width: 909px; margin:0 auto; position:relative;
    g {cursor:pointer;}
    g path {fill:#fef0d9; stroke:#000; stroke-width:0.1; stroke-linecap:round; stroke-linejoin:round; stroke-miterlimit:7;}
    g text {fill:#333; overflow:visible; font-size:10px; text-anchor:left;}
    #risk g path {stroke-width:0; opacity:0.6; stroke-opacity:0;}
    .gu #region g path {fill:#eee;}
    .dong #region g path {fill:#eee; stroke-width:0.1;}
    g.risk5 path {fill:#b30000;}
    g.risk4 path {fill:#e34a33;}
    g.risk3 path {fill:#fc8d59;}
    g.risk2 path {fill:#fdcc8a;}
    g.risk1 path {fill:#fef0d9;}
    #farm {display:none;
        circle {fill:rgba(0,0,0,0.8); stroke:none;}
        circle.hot {fill:red;}
        circle.active {fill:rgba(70,255,33,1); stroke:rgba(70,255,33,1); stroke-width:0.7;}
    }
    text {cursor:pointer;}
}
#mapCanvas.shift {left:-170px;}
#resizer {position:absolute; bottom:20px; left:220px; height:20px;}
#location {position:absolute; top:47px; left:620px; font-weight:bold; padding:5px 10px; opacity:0.8; .box-shadow(1px 1px 3px 0 rgba(80,148,178,0.75)); .border-radius(5px); color:#000;
    a {color:#000;}
    a:hover {color:#fc0;}
}
#farming {display:none; position:absolute; top:20px; right:20px; color:#000; background:#fc0; padding:10px; .border-radius(10px);}