@import url(../components/less-prefixer/prefixer.less);

.pilDialog {
    .dialog-container {padding:8px 24px 0;
        .title {padding:0 0 0 30px; font-size:1.429em; font-weight:bold; text-align:left; border-bottom:4px solid #f3f3f3; background:url(../images/icon-question-large.png) no-repeat 0 50%; color:#64605b;}
        .button-set {padding:15px 0 35px; background:none;
            button {height:23px; font-size:0.857em; background-color:#64605b; .border-radius(3px); width:103px}
            button:hover,button:active {background-color:#64605b;}
        }
    }   
    .dialog-closer {top:10px; right:20px; width:27px; height:28px; border:1px solid #474d56; border-left:2px #3f454e; border-right:2px #3f454e; background:#313741 url(../images/closer-x.png) no-repeat 50% 50%; color:#fff; text-indent:-5000em;}
}

#findDialog {
    .description {padding:35px 0 20px; color:#343434;}
    label {color:#343434; font-size:0.857em; line-height:26px; margin-right:10px;}
    input {width:247px-2px-20px; padding:0 10px; height:24px; border:1px solid #d1d1d1; .border-radius(3px);}
    .invalid {font-size:0.857em; color:red;}
}