@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*@ Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; font:inherit; vertical-align:baseline;}
/*@ HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
audio,canvas,video {display:inline-block; *display:inline; *zoom:1}
[hidden] {display:none}
/*@ Base */
html {font-size: 100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}
body {line-height:1;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
b,strong {font-weight:bold;}

/*@ Type Elements */
abbr[title] { border-bottom: 1px dotted; }
blockquote {margin:1em 40px;}
dfn {font-style:italic;}
ins {background:#ff9; color:#000; text-decoration:none;}
mark {background:#ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
small {font-size:85%;}
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup {top: -0.5em; }
sub {bottom: -0.25em; }
/*@ Embedded content */
img {-ms-interpolation-mode:bicubic; vertical-align:middle;}
/*@ Chrome Frame Prompt */
.chromeframe {margin:0.2em 0; background:#ccc; color:black; padding:0.2em 0}



/*-------------------------------------------------------------------------------------------*/
/*@ this site */
html,body {height:100%;}
html {overflow-y:scroll;}
html,button,input,select,textarea {font-family:arial, '나눔고딕', NanumGothic, 'Nanum Gothic', '맑은 고딕', dotum, AppleGothic, sans-serif; color:#333; font-size:0.875em}
@media screen and (max-width:480px) {
  html,button.input,select,textarea {font-family:sans-serif;}
}
body {background-color:#fff; text-align:center; line-height:1.5}
a:link {color:#9a9a9a; text-decoration:none}
a:visited {color:#9a9a9a; text-decoration:none}
a:hover {color:#9a9a9a; text-decoration:none}
a:active {color:#b60074; text-decoration:none}
a:focus {outline:thin dotted;}
hr {display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
button,a {outline:0}

/*@ this site : scroll, drag, focus, placeholder */
.cscroll::-webkit-scrollbar {width:10px; height:10px}
.cscroll::-webkit-scrollbar-button {height:0}
.cscroll::-webkit-scrollbar-track {background:#1d1d1d;}
.cscroll::-webkit-scrollbar-thumb {width:15px; height:15px; background:#4c4c4c;}
.cscroll::-webkit-scrollbar-corner {background:red}
.cscroll::-webkit-resizer { height:1px; width:1px}

.cscroll2::-webkit-scrollbar {width:15px; height:15px}
.cscroll2::-webkit-scrollbar-button {height:0}
.cscroll2::-webkit-scrollbar-track {background:#c8c8c8;}
.cscroll2::-webkit-scrollbar-thumb {width:15px; height:15px; background:#777;}
.cscroll2::-webkit-scrollbar-corner {background:#777}
.cscroll2::-webkit-resizer { height:1px; width:1px}
::-moz-selection {background: #79797c; text-shadow:none;}
::selection {background:#79797c; text-shadow:none;}

:focus::-webkit-input-placeholder { color:#eee; }
:focus::-moz-placeholder { color:#eee; }
:focus:-ms-input-placeholder { color:#eee; }
input:focus:-moz-placeholder { color:#eee;}
.text-placeholder {color:#999}

/*@ this site : form */
label {cursor:pointer}
legend {*margin-left:-7px; white-space:normal;}
button, input, select, textarea {font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle;}
button, input {line-height:normal}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer; -webkit-appearance:button; *overflow:visible; border:none}
button[disabled], input[disabled] {cursor:default}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box; padding:0; *width:13px; *height:13px;}
input[type="search"] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
textarea {overflow:auto; vertical-align:top; resize:vertical;}
input:valid, textarea:valid {}
input:invalid, textarea:invalid {background-color: #f0dddd}
/*@ this site : table */
td {vertical-align:top; }
td,th {padding:0}
a,button {outline:none}

/*@ Assistants */
.removeBg {background:none !important}
.ir {display:block; border:0; text-indent:-999em; overflow:hidden; background-color:transparent; background-repeat:no-repeat; text-align:left; direction:ltr; *line-height:0;} /* Image Replacement */
.ir br {display:none;}
.hidden {display:none !important; visibility:hidden;} /* Hide from both screenreaders and browsers: h5bp.com/u */
.hide {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;} /* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.hide.focusable:active, .hide.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; } /* Extends the .hide class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.invisible {visibility: hidden;} /* Hide visually and from screenreaders, but maintain layout */
.clearfix:before, .clearfix:after { content: ""; display: table; line-height:0;}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.ellip {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration:underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
} 